.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 14px 0;
}
.home-container h1{
    margin-bottom: 20px;
    color: white;
    font-size: 44px;
    padding-top: 94px;
}

.home-container span{
    color: #f1f1f1;
    margin-bottom: 30px;
    font-size: 16px;
}

.links{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 90%;
    text-align: center;
}

.link-area{
    background-color: white;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    user-select: none;
    border-radius: 5px;
    transition: transform 0.5s;
}

.link-area:hover{
    transform: scale(1.04);
}

.link-text{
    font-size: 18px;
    line-height: 150%;
    color: black;
}

footer{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 20px 0;
}

@media screen and (max-width: 687px) {
    .home-container h1{font-size: 26px; text-align: center;}
    .link-text{font-size: 16px;}
}

@media screen and (max-width: 550px) {
    .home-container h1{font-size: 24px; text-align: center;}

    .link-text{font-size: 16px;}
}

@media screen and (max-width: 393px) {
    .home-container h1{font-size: 20px; text-align: center;}

    .link-text{font-size: 14px;}
}

@media screen and (max-width: 280px) {
    .home-container h1{font-size: 16px; text-align: center;}
    .home-container span{font-size: 15px;}
    .link-text{font-size: 12px;}
    footer{gap: 10px;margin: 20px 0;}
}